# Put this file into $ZSH_CUSTOM directory for autoloading.
export JAVA_HOME=/usr/lib/jvm/java
export QT_QPA_PLATFORMTHEME='qt5ct'

export GOPATH=/Users/vasyale/work/gospace
export PATH=$PATH:$GOPATH/bin

alias nau='nautilus . &'
