# Put this file into $ZSH_CUSTOM directory for autoloading.
export JAVA_HOME=/usr/lib/jvm/java
export QT_QPA_PLATFORMTHEME='qt5ct'

export GOROOT=$HOME/opt/go
export GOPATH=$HOME/work/gospace
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

alias nau='nautilus . &'
